.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 1450px;
    width: 400px;
    opacity: 0.9;
    background-color: indianred;
    border-radius: 15px 50px;
}

.form-item{
    display: block;
    text-align: center;
}

.buttonsForm
{
    width: 40%;
    margin-left: 32%;
    margin-right: 30%;
    text-align: center;
}

.buttonsForm button {
    background-color: #c72e2e;
    color: white;
    padding: 15px 32px;
    border: none;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;


}

.buttonsForm button:hover {
    box-shadow: 0 12px 16px 0 rgba(35, 34, 34, 0.24),0 17px 50px 0 rgb(17, 16, 16);
}

body
{
    color: black;
    font-size:30px;
}

@media only screen and (max-width: 600px)
{
    body {
        font-size: 20px;
    }

    .container {

        height: 1650px;
        width: 450px;

    }

    .buttonsForm
    {
        width: 60%;
        margin-left: 20%;
        margin-right: 30%;
        text-align: center;
    }
}

form {

    align-items: center;
}

#passwordMessage
{
    display: none;
    background: #fa5c5c;
    color: black;
    position: relative;
}

#passwordMessage p
{
    padding: 10px 50px;
    font-size:20px;
}

/* when the requirements for the password are met make the text green*/
.valid {
    color: green;
}

.valid:before {
    position: relative;
    content: "✔️";
}

/* when the requirements for the password are not met make the text red */
.invalid {
    color: #8a4949;
}

.invalid:before {
    position: relative;
    content: "❌";
}

.form-item input {

    border: 2px solid #000;
    outline: none;
    color: black;
    border-radius: 10px;
    padding: 15px;

}



